# !!!!! SECURITY - IMPORTANT !!!!! ignore directory to store auth keys and credentials
server/config/*

!server/config/keys-dev.json
!server/config/requirements.txt
!server/config/llm-models.json

# Environment directories
.vscode
testing/
server/.project_env
server/models

# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]

# Database specific files
server/src/db.sqlite3